<%- include('partials/header') -%>
<div class="mt-5">
  <h1>Feed</h1>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<products.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/product/<%= products[i]._id%>">
              <h3><%=products[i].productTitle%></h3>
              <img class="img-fluid" src="<%= products[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  

  <h2>Filter Products</h2>
  <form action="/product/filterProducts" method="POST">
    <div class="mb-3">
      <label for="company" class="form-label">Company</label>
      <select class="form-control" id="company" name="company">
        <%if(company){ %>
          <option value="<%=company.id%>"><%= company.companyName%></option>
        <% } %>
          <% companies.forEach(company => { %>
            <option value="<%=company.id%>"><%= company.  companyName %></option>
          <% }) %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
  </form>
</div>

<%- include('partials/footer') -%>