<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">  
      <h2><%= user.companyName %></h2>
      <h3>Product Title: <%= product.productTitle %></h3>
      <h3>Description: <%= product.productDescription %></h3>
      
      <img class="img-fluid" src="<%= product.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/product/rateProduct/<%= product.id %>?_method=PUT"
          method="POST"
        >
        <h3 class="col-3">Rating: <%= averageRating %></h3>

        <label for="productRating">Rate the <%= product.productTitle %> from 1-5</label>
        <input type="number" id="productRating" name="productRating" min="1" max="5">
          <button class="btn btn-primary" type="submit">Rate</button>
        </form>
        <%if(product.companyId == user.id){ %>
        <form
          action="/product/deleteProduct/<%= product.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= product.caption %></p>
    </div>
    <div>
      <h3>Customer Comments</h3>
      <ul>
        <% for(var i=0;i<comments.length;i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <%= comments[i].comment %> by <%= comments[i].userName%>
            <%if(comments[i].userId == user.id){ %>
              <form
                action="/product/deleteComments/<%= comments[i].id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
          </li>
        <% } %>
        <% } %>
      </ul>
      <% if(user.userName){ %>
      <form action="/product/addComment/<%=product._id %>" method="POST">
        <input type="text" name="comment">
        <button class="btn btn-primary" type="submit">Add Comment</button>
      </form>
      <% } %>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
